.board {
  background: rgb(38, 38, 265);
  width: 700px;
  max-width: 600px;
  height: 50vw;
  max-height: calc(80vh - 80px);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  padding: 8px;
}
